/**Shared for all. */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap");

body {
  font-family: "Montserrat";
  scroll-behavior: smooth;
  background-color: white;
}

::selection {
  background: rgb(255, 255, 255);
}

hr {
  color: #c3a6a0;
}

#page-title {
  padding-top: 15px;
}

a{
  color: black;;
}

/** Shared for nav-bar*/
ul {
  list-style: none;
}

a {
  text-decoration: none;
  transition: all 0.5s;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
}

.navbar-home {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(92, 92, 92, 0);
  padding-top: 15px;
  padding-bottom: 15px;
}

.navbar-logo {
  padding-left: 50px;
  padding-right: 50px;
  font-weight: bold;
  color: black;
  text-decoration: none;
}

.nav-links ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
}
.nav-links li a {
  padding-left: 50px;
  padding-right: 50px;
  font-weight: 400;
  color: rgba(99, 97, 97, 0.767);
}

.nav-links a:hover {
  color: black;
  font-weight: bold;
  transition: all ease 0.9s;
}

.toggle-button {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .toggle-bar {
  height: 3px;
  width: 100%;
  background-color: black;
  border-radius: 20px;
}

/**Shared for al buttons*/
.button-class {
  width: 200px;
  border-radius: 5px;
  border-color: #272932;
  background-color: #272932;
  color: #f7f1f0;
}
.button-class:hover {
  background-color: #dae2e7;
  border-color: #dae2e7;
  color: #272932
}

/**---index.html---*/

.index-introduction {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 300px;
  padding-bottom: 300px;
}

.index-introduction h1{
  font-size: 70px;
}

.introduction {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 15;

}

.index-introduction h1 :hover {
  color: #272932;
  transition: all ease 0.8s;
}

.index-introduction h1 b {
  color: #DBC5AC;
}

.cm-button{
  margin-top: 10px;
  width: 150px;
  height: 45px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  border: solid 3px black;
  background-color: white;
  border-radius: 20px;
}

.cm-button:hover{
    color: white;
    background-color: black;
    transition: all ease 0.7s;
}


/*--- Shared for footer ---*/

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #DBC5AC;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}
.socials-icons img {
  width: 50px;
  height: 50px;
  padding: 3px;
}
.socials-icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/**---About Section---*/

#about-section{
  background-color: #EEE4DA;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);

}

#about-me-imgs{
    padding: 15px;
    box-align: center;
    
}

#about-me-info {
  display: flex;
  flex-direction: row;
}

#about-me-info img {
  height: 400px;
  margin: 10px;
  width: 400px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.35);
}

#background-info {
  padding: 15px;
  text-align: center;
}

#background-info .cm-button {
  text-align: center;
  width: 200px;
}

#background-info p {
  text-align: left;
}

#interests{
  text-align: center;
  margin: 25px;
}

#interest-tab{
  display: flex;
  flex-direction: row;
  align-items: center ;
  justify-content: center;
  font-size: 25px;
}

#interest-tab div{
  margin: 10px;
}


/**-- CS Portfolio section */

.cs-doc{
  padding-left: 10px;
  padding-right: 17px;
}

.cs-portfolio-intro {
  text-align: center;
  margin: 10px;
}
.cs-portfolio-sections {
  display: flex;
  flex-direction: column;
}

.section-intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 5px;
}

.section-intro #title{
  margin-top: 5px;
  font-size: 20px;
}

.cs-section {
  display: flex;
  flex-direction: row;
  background-color: white;
  width: 100%;
  margin-bottom: 15px;
  margin-left: 5px;
  margin-right: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  border-radius: 5px;

}

.cs-section img{
  width: 200px;
  height: 200px;
}

.cs-sections .cm-button{
    margin: 5px;
    width: 150px;
    height: 30px;
    font-size: 15px;
}

/**---Skills section*/
#skills-section {
  margin-top: 10px;
  text-align: center;
  background-color: #DBC5AC;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

#skills-section img{
  width: 100px;
  height: 100px;
}

#skill-div{
  display: flex;
  flex-direction: row;
  justify-content: center;

}

#skill-div #skill{
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 30px;
  width: 300px;
}

#up {
  animation: up-anim 3.5s infinite;
}

@keyframes up-anim {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-7px);
  }
  100% {
    transform: translateY(0);
  }
}

/**--cs extracurriculars*/
.extracurr-container {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  padding-right: 10px;
}

.extracurr-container img {
  margin: 10px;
  width: 150px;
  height: 150px;
}

.extracurricular-section {
  display: flex;
  flex-direction: row;
  background-color: rgba(255, 255, 255, 0.562);
  width: 100%;
  margin-bottom: 15px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.extracurricular-section:hover {
  background-color: rgba(255, 255, 255, 0.84);
  border: 1.5px solid #c3a6a0;
  transition-delay: 0.3s;
}

/**-- cs projects--*/

.proj-container {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  padding-right: 10px;
}

.proj-intro #title{
  margin-top: 5px;
  font-size: 25px;
}

.proj-container p {
  margin: 5px;
  margin-left: 15px;
  margin-right: 15px;
}

.proj-container img {
  margin-top: 5px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  width: 500px;
  height: 400px;
  border-radius: 5px;
}

.img-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.nproject-section {
  display: flex;
  flex-direction: row;
  background-color: white;
  width: 100%;
  margin-bottom: 15px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);

}

.proj-intro button{
  width: 200px;
  margin: 10px;
}

.nproject-section:hover {
  background-color: rgba(255, 255, 255, 0.84);
  border: 1.5px solid #c3a6a0;
  transition-delay: 0.3s;
}

/** ----------------------------------------------------------------TIMELINE-------------------------------------------------------------------*/


.timeline {
  margin: 0 auto;
  max-width: 750px;
  padding: 25px;
  display: grid;
  grid-template-columns: 1fr 3px 1fr;
  color: #272932;
}

.timeline__component {
  margin: 0 20px 20px 20px;
}

.timeline__component--bg {
  padding: 1.5em;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

/* LEAVE TILL LAST */

#experience-sec{
  padding-top: 25px;
}
.timeline__component--bottom {
  margin-bottom: 0;
}

.timeline__middle {
  position: relative;
  background: #DBC5AC;
}

.timeline__point {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 15px;
  height: 15px;
  background: #EEE4DA;
  border-radius: 50%;
}

/* LEAVE TILL LAST */
.timeline__point--bottom {
  top: initial;
  bottom: 0;
}

.timeline__date--right {
  text-align: right;
}

.timeline__title {
  margin: 0;
  font-size: 1.15em;
  font-weight: bold;
}

.timeline__paragraph {
  line-height: 1.5;
}


/** -------------------------------------------------------------------------------------------------------------------------------------------*/

/**Responsive nav bar*/
@media (max-width: 950px) {
  .toggle-button {
    display: flex;
  }

  .nav-links {
    display: none;
    width: 100%;
  }

  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-home {
    flex-direction: column;
    align-items: flex-start;
  }

  .nav-links ul {
    flex-direction: column;
    width: 100%;
  }

  .nav-links ul li {
    text-align: center;
    font-size: 25px;
    margin: 5px;
  }

  .nav-links.active {
    display: flex;
  }

  .nav-links li:hover {
    background-color: #d3d2d24f;
    transition: all 0.5s;
  }

  /**responsive index*/
  .index-introduction {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 210px;
    padding-bottom: 210px;
  }

  .index-introduction h1{
    font-size: 45px;
  }

  .index-introduction .introduction {
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    font-size: 60%;
  }

  .index-introduction h5 {
    font-size: 14px;
  }

  .introduction {
    justify-content: center;
    align-items: center;
  }

  .cm-button{
    color: black;
  }

  /**responsive about section*/
  #about-me-info {
    text-align: center;
    flex-direction: column;
  }

  #about-me-info img {
    width: 300px;
    height: 300px;
  }

  /**responsive skills section */
  #skill-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
  }
  
  #skill-div #skill{
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 10px;
    width: 350px;
  }

  /**responsive interests section */
  #interest-tab{
    display: flex;
    flex-direction: column;
  }

  /**responsive cs portfolio sections*/

  .button-class {
    margin-bottom: 10px;
  }
  .section-intro {
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .cs-portfolio-sections img {
    margin-top: 5px;
    width: 80px;
    height: 80px;
  }

  .cs-section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .cs-doc{
    align-items: center;
  }

  /**responsive cs extracurriculars*/
  .extracurr-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .extracurr-container img {
    width: 110px;
    height: 110px;
  }

  .extracurricular-section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /** responsive proj*/

  .nproject-section{
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .proj-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .img-container img {
    width: 300px;
    height: 250px;
  }

  .img-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /**responsive cb*/
  #cb{
    margin: 10px;
    width: 400px;
    text-align: center;
  }

  #cb img{
    margin-bottom: 15px;
  }


  /**responsive footer*/
  .socials-icons img {
    width: 40px;
    height: 40px;
    padding: 5px;
  }

  /**Responive timeline*/
  .timeline{
    margin: 5px;
    padding: 20px;
  }

  .timeline__component.timeline__component--bg{
    margin: 10px;
    padding: 15px;
  }

}
