/**Shared for all. */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap");

body {
  font-family: "Montserrat";
  scroll-behavior: smooth;
  background-color: white;
}

::selection {
  background: rgb(255, 255, 255);
}

hr {
  color: #c3a6a0;
}

#page-title {
  padding-top: 15px;
}

/** Shared for nav-bar*/
ul {
  list-style: none;
}

a {
  text-decoration: none;
  transition: all 0.5s;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: whitesmoke;
  padding-top: 15px;
  padding-bottom: 15px;
}

.navbar-home {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(92, 92, 92, 0);
  padding-top: 15px;
  padding-bottom: 15px;
}

.navbar-logo {
  padding-left: 50px;
  padding-right: 50px;
  font-weight: bold;
  color: black;
}

.nav-links ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
}
.nav-links li a {
  padding-left: 50px;
  padding-right: 50px;
  font-weight: 400;
  color: rgba(99, 97, 97, 0.767);
}

.nav-links a:hover {
  color: black;
}

.toggle-button {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .toggle-bar {
  height: 3px;
  width: 100%;
  background-color: black;
  border-radius: 20px;
}

/**Shared for al buttons*/
.button-class {
  width: 200px;
  border-radius: 5px;
  border-color: #272932;
  background-color: #272932;
  color: #f7f1f0;
}
.button-class:hover {
  background-color: #dae2e7;
  border-color: #dae2e7;
  color: #272932
}

/**---index.html---*/

.index-introduction {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 50px;
}
.introduction {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
}
.index-body img {
  width: 500px;
  height: 500px;
}
.index-introduction h1 :hover {
  background-color: #272932;
  transition: all ease 0.8s;
}

.index-introduction h1 b {
  color: #758bfd;
}

.salutation {
  display: flex;
  flex-direction: row;
}
.salutation #type {
  animation: blinking 0.9s infinite;
}
@keyframes blinking {
  0% {
    color: transparent;
  }
  100% {
    color: black;
  }
}

.secondary-index-intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#intro-down-arrow {
  width: 40px;
  height: 40px;
}

.secondary-index-intro #intro-down-arrow:hover {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: bounce 1s infinite;
}
@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-100px);
  }
  100% {
    transform: translateY(0);
  }
}

/*--- Shared for footer*/

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.socials-icons img {
  width: 40px;
  height: 40px;
  padding: 5px;
}
.socials-icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/**---About Section---*/

.secondary-index-intro{
  padding-top: 50px;
  padding-bottom: 55px;
}

#about-me-imgs{
    padding: 15px;
    box-align: center;
  }

#banner {
  background-color: #758bfd;
  color: #f7f1f0;
  width: 100%;
  text-align: center;
}

#about-me-info {
  display: flex;
  flex-direction: row;

}

#about-me-info img {
  height: 350px;
  padding: 10px;
  width: 350px;
}

#background-info {
  padding: 15px;
  text-align: center;
}

#background-info p {
  text-align: left;
}

#about-n-experience-banner{
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
}

/**-- CS Portfolio section */

#page-title:hover{
  color:#758bfd;
  transition-delay:0.4s;
}

.cs-doc{
  padding-left: 10px;
  padding-right: 10px;
}

.cs-portfolio-intro {
  text-align: center;
  margin: 10px;
}
.cs-portfolio-sections {
  display: flex;
  flex-direction: column;
}

.section-intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 5px;
}

.cs-section {
  display: flex;
  flex-direction: row;
  background-color: white;
  width: 100%;
  margin-bottom: 15px;
  margin-left: 5px;
  margin-right: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  border-radius: 5px;

}

/**---Skills section*/
#skills-section {
  text-align: center;
}

#skills-section img{
  width: 100px;
  height: 100px;
}

#up {
  animation: up-anim 3.5s infinite;
}

@keyframes up-anim {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-7px);
  }
  100% {
    transform: translateY(0);
  }
}

#down {
  animation: down-anim 3.1s infinite;
}

@keyframes down-anim {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(7px);
  }
  100% {
    transform: translateY(0);
  }
}

#rand {
  animation: rand-anim 2s infinite;
}

@keyframes rand-anim {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-6px);
  }
  100% {
    transform: translateY(0);
  }
}

/**---cs courses */

.courses-banner{
  display: flex;
  flex-direction: row;
}
.courses-block {
  text-align: center;
  padding-left: 100px;
  padding-right: 100px;

}

.courses-block li{
  border-left: 2px solid red;
  border-bottom: 1px solid #758bfd;
  border-top:1px solid #758bfd;

}



/**--cs extracurriculars*/
.extracurr-container {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
}

.extracurr-container img {
  margin: 10px;
  width: 150px;
  height: 150px;
}

.extracurricular-section {
  display: flex;
  flex-direction: row;
  background-color: rgba(255, 255, 255, 0.562);
  width: 100%;
  margin-bottom: 15px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.extracurricular-section:hover {
  background-color: rgba(255, 255, 255, 0.84);
  border: 1.5px solid #758cfdaf;
  transition-delay: 0.3s;
}

/**-- cs projects--*/

.proj-container {
  display: flex;
  flex-direction: column;
}

.proj-container p {
  margin: 5px;
  margin-left: 15px;
  margin-right: 15px;
}

.proj-container img {
  margin-top: 5px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  width: 200px;
  height: 150px;
  border-radius: 2px;
}

.img-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.nproject-section {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 100%;
  margin-bottom: 15px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);

}

.nproject-section:hover {
  background-color: rgba(255, 255, 255, 0.84);
  border: 1.5px solid #758cfdaf;
  transition-delay: 0.3s;
}


/** ----------------------------------------------------------------TIMELINE-------------------------------------------------------------------*/

.timeline {
  margin: 0 auto;
  max-width: 750px;
  padding: 25px;
  display: grid;
  grid-template-columns: 1fr 3px 1fr;
  color: #272932;
}

.timeline__component {
  margin: 0 20px 20px 20px;
}

.timeline__component--bg {
  padding: 1.5em;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

/* LEAVE TILL LAST */
.timeline__component--bottom {
  margin-bottom: 0;
}

.timeline__middle {
  position: relative;
  background: #758bfd;
}

.timeline__point {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 15px;
  height: 15px;
  background: #ffffff;
  border-radius: 50%;
}

/* LEAVE TILL LAST */
.timeline__point--bottom {
  top: initial;
  bottom: 0;
}

.timeline__date--right {
  text-align: right;
}

.timeline__title {
  margin: 0;
  font-size: 1.15em;
  font-weight: bold;
}

.timeline__paragraph {
  line-height: 1.5;
}


/** -------------------------------------------------------------------------------------------------------------------------------------------*/

/**Responsive nav bar*/
@media (max-width: 950px) {
  .toggle-button {
    display: flex;
  }

  .nav-links {
    display: none;
    width: 100%;
  }

  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-home {
    flex-direction: column;
    align-items: flex-start;
  }

  .nav-links ul {
    flex-direction: column;
    width: 100%;
  }

  .nav-links ul li {
    text-align: center;
  }

  .nav-links.active {
    display: flex;
  }

  .nav-links li:hover {
    background-color: #d3d2d24f;
  }

  /**responsive index*/
  .index-introduction {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .index-introduction .introduction {
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    font-size: 60%;
  }

  .index-introduction .salutation {
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
  }

  .index-introduction h5 {
    font-size: 14px;
  }

  .introduction {
    justify-content: center;
    align-items: center;
  }

  .index-body img {
    width: 250px;
    height: 250px;
  }

  #intro-down-arrow {
    width: 40px;
    height: 40px;
  }

  .secondary-index-intro #intro-down-arrow:hover {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: bounce 1s infinite;
  }
  @keyframes bounce {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-35px);
    }
    100% {
      transform: translateY(0);
    }
  }

  /**responsive about section*/
  #about-me-info {
    text-align: center;
    flex-direction: column;
  }

  /**responsive cs portfolio */

  /**responsive cs portfolio sections*/

  .button-class {
    margin-bottom: 10px;
  }
  .section-intro {
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .cs-portfolio-sections img {
    margin-top: 5px;
    width: 80px;
    height: 80px;
  }

  .cs-section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /**responsive cs courses*/
  .courses-block li {
    font-size: 85%;
    padding-right: 32px;
  }

  /**responsive cs extracurriculars*/
  .extracurr-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .extracurr-container img {
    width: 110px;
    height: 110px;
  }

  .extracurricular-section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /** esponsive poj*/
  .proj-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .img-container img {
    width: 250px;
    height: 200px;
  }

  .img-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /**responsive footer*/
  .socials-icons img {
    width: 40px;
    height: 40px;
    padding: 5px;
  }

  /**Responive timeline*/
  .timeline{
    margin: 5px;
    padding: 20px;
  }

  .timeline__component.timeline__component--bg{
    margin: 10px;
    padding: 15px;
  }

  .courses-block{
    padding: 20px;
  }
}
